<div class="container">
  <section class="row forRoomTop">
  </section>
  <section class="row">
    <div class="col-xs-12 text-center">
      <h1>The Rent-Rabbit Story</h1>
    </div>
  </section>
  <section class="row">
    <div class="col-xs-12 text-center">
      <h2>Rent-Rabbit was built by four guys that came together through General Assembly in Seattle, WA. While in the Web Development Immersive program, Alex Winn, Seth Chute, James Chi, and Ed Gervais built Rent-Rabbit in just seven days and then posted it to the web for all to use.<br>If you have electronics laying around that you don't use, but would never get rid of, we have the answer for you. Rent them out! Post your items on Rent-Rabbit with the dates you want to rent them, then just wait for someone who wants to rent them to contact you. It's just that easy!</h2>
    </div>
  </section>
  <section class="row">
    <section class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-4">
        <h2><strong>Alex Winn</strong></h2>
        <h2><small><strong><u>A</u></strong>lmighty</small></h2>
        <h2><small><strong><u>L</u></strong>oosleaf</small></h2>
        <h2><small><strong><u>E</u></strong>xigent</small></h2>
        <h2><small><strong><u>X</u></strong>ylophonic</small></h2>
      </div>
      <div class="col-xs-4">
        <h2><strong>Seth Chute</strong></h2>
        <h2><small><strong><u>S</u></strong>eaworthy</small></h2>
        <h2><small><strong><u>E</u></strong>ssential</small></h2>
        <h2><small><strong><u>T</u></strong>hrifty</small></h2>
        <h2><small><strong><u>H</u></strong>ypnotic</small></h2>
      </div>
      <div class="col-xs-2">
      </div>
    </section>
    <section class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-4">
        <h2><strong>James Chi</strong></h2>
        <h2><small><strong><u>J</u></strong>iggered</small></h2>
        <h2><small><strong><u>A</u></strong>lpine</small></h2>
        <h2><small><strong><u>M</u></strong>ilkless</small></h2>
        <h2><small><strong><u>E</u></strong>quipped</small></h2>
        <h2><small><strong><u>S</u></strong>ophisticated</small></h2>
      </div>
      <div class="col-xs-4">
        <h2><strong>Ed Gervais</strong><br></h2>
        <h2><small><strong><u>E</u></strong>dibly</small></h2>
        <h2><small><strong><u>D</u></strong>eclivitous</small></h2>
      </div>
      <div class="col-xs-2">
      </div>
    </section>
  </section>
  <section class="row forRoomBottom">
  </section>
</div>
