<section id="slide-1" class="homeSlide">
    <div class="bcg"
        data-center="background-position: 40% 0px;"
        data-top-bottom="background-position: 50% -100px;"
        data-anchor-target="#slide-1">
        <div class="hsContainer">
            <div class="hsContent"
                data--300-bottom="opacity: 0"
                data-center="opacity: 1"  
                data-anchor-target="#slide-1">
                <div class="col-xs-8 col-sm-8 col-md-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 front">
                <h1 id="RR">RENT RABBIT</h1>
                <div class="row">
                <div class="col-xs- col-sm-8 col-md-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2">
                <hr>
                </div>
                </div>
                <div class="row">
                <h4 id="elevator">A site to list and rent electronics within a reputable community</h4>
                </div>
                <div class="row">
                <h6 id="find-out">Scroll to find out how it works</h6>
                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="slide-2">
    <div class="bcg"
        data-0="background-color:rgb(255,255,255);"
        data-center="background-color:rgb(201,223,128);"
        data-anchor-target="#slide-2"
    >
        <div class="hsContainer">
            <div class="hsContent">
                <h2 id="transition-1" 
                    data--50-bottom="opacity: 0"
                    data-center="opacity: 1"
                    data-206-top="opacity: 1"
                    data-100-top="opacity: 0"
                    data-anchor-target="#slide-2 h2"
                >
                    First, sign up and create your account
                </h2>
            </div>
        </div>
    </div>
</section>
<section id="slide-4" class="homeSlide homeSlideTall">
    <div class="bcg4"
        data-center="background-position: 50% -160px;"
        data-bottom-top="background-position: 50% 0px;"
        data-anchor-target="#slide-4"
    >
    </div>
</section>
<section id="slide-2">
    <div class="bcg"
        data-0="background-color:rgb(255,255,255);"
        data-center="background-color:rgb(201,223,128);"
        data-anchor-target="#slide-2"
    >
        <div class="hsContainer">
            <div class="hsContent">
                <h2 id="transition-1" 
                    data-bottom="opacity: 0"
                    data-center="opacity: 1"
                    data-anchor-target="#slide-2 h2"
                >
                    Then, list your lightly-used electronic item, <br> or search for the electronic piece <br> you'd like to rent
                </h2>
            </div>
        </div>
    </div>
</section>
<section id="slide-6" class="homeSlide">
    <div class="bcg"
        data-center="background-position: 40% 0px;"
        data-top-bottom="background-position: 50% -220px;"
        data-anchor-target="#slide-1">
        <div class="hsContainer">
            <div class="hsContent"
                data--300-bottom="opacity: 0"
                data-center="opacity: 1"  
                data-anchor-target="#slide-6">
        </div>
    </div>
</section>
<section id="slide-2">
    <div class="bcg"
        data-0="background-color:rgb(255,255,255);"
        data-center="background-color:rgb(201,223,128);"
        data-anchor-target="#slide-2"
    >
        <div class="hsContainer">
            <div class="hsContent">
                <h2 id="transition-1" 
                    data-bottom="opacity: 0"
                    data-center="opacity: 1"
                    data-anchor-target="#slide-2 h2"
                >
                    If you find an item you'd like to rent, <br> request it, and then go pick it up
                </h2>
            </div>
        </div>
    </div>
</section>
<section id="slide-3" class="homeSlide homeSlideTall2">
    <div class="bcg"
        data-center="background-position: 0px 50%;"
        data-bottom-top="background-position: -500px 50%;"
        data-top-bottom="background-position: 600px 50%;"
        data-anchor-target="#slide-3"
    >
        <div class="hsContainer">
            <div class="hsContent">
                <div class="plaxEl"
                    data-500-top="opacity: 0; z-index: -1"
                    data-center="opacity: 1; z-index: -1"
                    data-anchor-target="#slide-3"
                >
                	<img src="assets/Little-Seattle.svg" style="width: 80%; position: fixed; top: 100px; right: 100px; z-index: -1">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="slide-2">
    <div class="bcg"
        data-bottom="background-color:rgb(255,255,255);"
        data-center="background-color:rgb(201,223,128);"
        data-anchor-target="#slide-2"
    >
        <div class="hsContainer">
            <div class="hsContent">
                <h2 id="transition-1" 
                    data-bottom="opacity: 0"
                    data-center="opacity: 1"
                    data-anchor-target="#slide-2 h2"
                >
                    Or if someone has rented your item, arrange pickup, <br> and we'll handle the payment when the item is returned
                </h2>
            </div>
        </div>
    </div>
</section>
<section id="slide-5" class="homeSlide homeSlideTall">
    <div class="bcg5">&nbsp;</div>
    <div class="bcg bcg3"
        data-300-end="opacity: 0;"
        data-100-end="opacity: 1;"
        data-anchor-target="#slide-5"
    >
        <div class="hsContainer">
            <div class="hsContent"
                data-200-bottom="opacity: 0;"
                data-bottom="opacity: 1;"
                data-anchor-target="#slide-5"
            >
                <h2>Easy right?</h2>
                <h4>Go back to the top | Sign up now</h4>
            </div>
        </div>
    </div>
</section>


