// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profileImg {
  height: 100px;
  width: 100px;
  position : relative;
  left: 25%;
}
.userItems {
  padding : 5px;
  margin: 20px;
}
.bikeIcon {
  height : 200px;
  width : 100%;
  padding : 5px;
  margin : 5px;
}
.itemDescripDiv {
  width : 100%;
  position: relative;
  top: -70px;
  right : 33px;
  margin : 40px;
  background-color : rgb(27, 28, 31);
  opacity : 0.5;
}
.itemDescripDiv h2 {
  color : rgb(242, 235, 237);
  font-size : 11px;
}
.userWell h1 {
  font-size : 20px;
}
.userWell h2 {
  font-size : 12px;
}
.modalBtn {
  float : right;
}
