// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.userContainer {
  height : 100%;
  width : 100%;
  background-color : rgb(90, 92, 91);
  padding : 75px;
  position: relative;
  top : 25px;
}
.profileImg {
  height: 150px;
  width: 150px;
  border : transparent !important;
  position : relative;
  left : 25%;
}
.userItems {
  padding : 5px;
  margin: 20px;
}
.bikeIcon {
  height : 200px;
  width : 100%;
  padding : 5px;
  margin : 5px;
}
.itemDescripDiv {
  width : 100%;
  position: relative;
  top: -70px;
  right : 33px;
  margin : 40px;
  background-color : rgb(27, 28, 31);
  opacity : 0.5;
}
.itemDescripDiv h2 {
  color : rgb(242, 235, 237);
  font-size : 11px;
}
.userWell {
  border-radius : 15px;
  border : 2px solid black;
  background-color : rgb(145, 145, 147);
}
.userWell h1 {
  font-size : 20px;
}
.userWell h2 {
  font-size : 12px;
}
.about {
  height : 100px;
  margin : 5px;
  width : 100%;
}
.bio {
  height : 100%;
  margin : 5px;
  width : 100%;
}
.rating {
  height : 50px;
  margin : 5px;
  width : 100%;
}
.rating h2 {
  position: relative;
  top : 10px;
  left : 5px;
  color : rgb(240, 174, 47);
  font-size : 22px;
}
.reviewDiv {
  border : 2px solid black;
  border-radius : 15px;
}
.wellWell {
  width : 100%;
  background-color : rgb(145, 145, 147);
  border : transparent !important;
  margin : 5px 0 10px 0;
}
